{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Собаки</title>
    <h1>Отдам в добрые руки +88005553535</h1>
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka1.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka2.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka3.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka4.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka5.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka6.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka7.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka8.jpg'%}" />
    <img width="480" height="304" src="{%static 'XJIe6/images/sobaki/sobaka9.jpg'%}" />

</head>
<body>

</body>
</html>